
            <div class="col-md-3" id="main-header-left">
                
                <h3>{{l10n "The Messenger"}}</h3>
                

                <div class="left-container" >
                    
                    <div class="dropdown">
                    
                        <a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                        </a>
                        
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            
                            <li><a href="javascript:(0)" id="btn-accountsettings">{{l10n "Edit Proflie"}}</a></li>
                            <li><a href="javascript:(0)" id="btn-changepassword">{{l10n "Change Password"}}</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:(0)" id="btn-logout">{{l10n "Sign Out"}}</a></li>
                            
                        </ul>
                        
                    </div>
                    
                </div>

                <div class="right-container">
                    
                    <span class="glyphicon glyphicon-comment" aria-hidden="true" id="btn-newchat"></span>
                    
                </div>
                
            </div>
            
            <div class="col-md-9" id="main-header-right">
                
                <div id="header-panel-default">
                
                    <span class="text-warning">{{l10n "Please select conversation from history or start new one."}}</span>
                    
                    <div class="left-container">
                        
                    </div>
                                   
                    <div class="right-container">
                        
                        <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
                        <span id="btn-info" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    
                    </div>
                    
                </div>

                <div id="header-panel-newchat" class="select-user-box hide">
                    
                    

                </div>                
                
            </div>    
            